.educationbg {
  height: 100%; /*Sets the scrollable area to 100% of the viewport*/
  overflow: auto; 
  overflow-x: hidden;
  background-color: #4c4c67;
  padding-top: 20px;
  padding-bottom: 30px;
}

h2.educationname {
  color: #9d9999;
  font-size: 32px;
  text-align: center;
  padding-top: 10px;
  margin: 10px;
}

.edudiv {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: center;
  justify-content: center;
}

.educationcard.card {
  color: var(--clr-neutral-100);
  background-size: cover;
  background: #fefefe;
  padding: 1rem 0 0;
  max-width: 70ch;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: transform 0.5s ease, box-shadow 0.5s ease, background 0.5s ease;
}

.educationcard.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background: linear-gradient(135deg, #fefefe, #dfe4db);
}

button.statusbtn.btn.btn-primary {
  color: white;
  background: #28a745;
  border: none;
  margin-right: 20px;
  transition: background-color 0.3s, transform 0.3s;
}

button.gpabtn.btn.btn-primary {
  color: white;
  background: #000;
  border: none;
  margin-right: 20px;
  transition: background-color 0.3s, transform 0.3s;
}

button.statusbtn.btn.btn-primary:hover,
button.gpabtn.btn.btn-primary:hover {
  transform: scale(1.05);
}

.edurow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: flex-start;
}

/* Responsive design for smaller screens */
@media screen and (max-width: 768px) {
  .educationcard.card {
      margin-bottom: 8px;
  }

  .edurow {
      display: flex;
      flex-direction: co;
      flex-wrap: wrap;
      align-content: center;
      justify-content: space-between;
      align-items: flex-start;
      padding: 20px;
  }

  button.statusbtn.btn.btn-primary {
      margin-bottom: 10px;
  }
}

/* Additional responsive design for very small screens */
@media screen and (max-width: 480px) {
  .educationcard.card {
      max-width: 100%;
  }

  h2.educationname {
      font-size: 24px;
  }

  button.statusbtn.btn.btn-primary,
  button.gpabtn.btn.btn-primary {
      margin-bottom: 10px;
      width: 100%;
  }
}
