
.footer{
    background: linear-gradient(135deg, #c7d6c4, #4c4c67);

}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background: unset;
    color: #fff;
}

.footer-content {
    max-width: 600px;
}

.footer-content h2 {
    margin-top: 0;
}

.footer-content p {
    margin: 10px 0;
}

.footer-location {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-size: 1.2em;
}

.location-icon {
    margin-right: 10px;
}

.footer-social-icons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.social-icon {
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
    transition: transform 0.2s;
}

.social-icon:hover {
    transform: scale(1.2);
}

.footer-image-container {
    flex-shrink: 0;
}

.footer-image {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    /* border: 5px solid #ffeb3b; */
}
