
.navcontainer{
    height: 10vh;  /* 100% of the viewport height */
    width: 100vw;   /* 100% of the viewport width */
     
}
.navbarclass{
    background: #c7d6c4;
}
.navbar.colorChange{
    background: linear-gradient(135deg, #c7d6c4, #4c4c67);
    height: 10vh;  /* 100% of the viewport height */
    width: 100vw; 
    text-transform: uppercase;
    font-size: 20px;
}

.navbarlink:hover {
    color: rgba(115, 214, 222, 0.8) !important; 
    filter: brightness(0.6);
    -webkit-animation: circle 1.5s ease-in forwards;
  
}
.navbarlink {
    position: relative;
      overflow: hidden;
     z-index: 1;
     color: #0b0b0b !important;
      padding: 0.6rem;
      
      font-weight: 500;
      transition: filter 0.25s;
}
nav.navbarclass.navbar.navbar-expand-lg.navbar-light.fixed-top {
    height: 86px;
    font-size: 20px;
    text-transform: uppercase;
}


 
