.mainbg {
  height: 100%; /*Sets the scrollable area to 100% of the viewport*/
  overflow: auto; 
  overflow-x: hidden;
  background-color: #4c4c67;
  /* background:linear-gradient(135deg, #d2e5d5, #87cefa); */

  padding-top: 90px;
}

h1.myinfo {
  color: #9d9999;
  font-size: 25px;
  text-align: justify;
  padding: 10px;
  margin: 10px;
}
h1.headproject{
  font-size: 45px;
  justify-content: center;
  text-align: center;
  color: #9d9999;
}
.hero{
  height: 100vh;
}

.myimage{
  display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-around;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
.projectrow.row {
  padding: 15px;
}

.mypitch {
  padding: 30px;
  margin: 20px;
}

/* Media query for screens smaller than 768px (standard tablets) */
@media (max-width: 768px) {
  .mainbg {
    padding-top: 100px;
    /* Add some padding for smaller screens */
  }
}


img.img-nency {
  width: 30em;
  height: 35em;
  border-radius: 50%;
}

.social-media {
  padding: 10px 0px 10px 21px;
}
img.socialicon{
  height: 30px;
  /* padding: 5px; */
}
a.sociallink {
  padding: 10px;
}



/* --------------Projects start-----------------------------------*/
/* .card {
  background: #c7d6c4;
  padding: 10px;
  margin: 10px;
  border-radius: 13%;
} */
