.projectbg {
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    background-color: #4c4c67;
    padding-top: 20px;
    padding-bottom: 30px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: 20px 0;
}

h2.projecthead {
    color: #9d9999;
    font-size: 32px;
    text-align: center;
    padding-top: 10px;
    margin: 10px;
}

.project-container {
    display: flex;
    flex: 1 1 48%;
    margin-bottom: 20px;
    box-sizing: border-box;
    justify-content: center;
    padding: 20px;
    max-width: 1500px;
    margin: 0 auto;
}

.project-card {
    width: 90%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #fff;
    background-position: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s, background 0.3s;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* color: white; */
    background: linear-gradient(135deg, #c7d6c4, #fafaff);
}

.project-title {
    margin-top: 0;
}

.project-description {
    color: #666;
}

.project-buttons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
    transform: scale(1.05);
}

.btn-github {
    background: #000;
    color: #fff;
}

.btn-github:hover {
    background: white;
}

.btn-demo {
    background: #28a745;
    color: #fff;
}

.btn-demo:hover {
    background: #218838;
}

.project-skills {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.skill-icon {
    padding: revert;
    background: darkseagreen;
    margin-right: 5px;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    color: #f9f9f9;
    font-size: 17px;
    padding: 7px;
    margin: 3px;
    transition: background-color 0.3s, transform 0.3s;
}

.skill-icon:hover {
    background: #a4bfa4;
    transform: scale(1.1);
}

/* Responsive design for smaller screens */
@media screen and (max-width: 768px) {
    .project-container {
        flex: 1 1 100%;
    }
}
