.projectbg {
    height: 100%;
    /*Sets the scrollable area to 100% of the viewport*/
    overflow: auto;
    overflow-x: hidden;
    background-color: #4c4c67;
    padding-top: 20px;
    padding-bottom: 30px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: 20px 0;
}

h2.projecthead {
    color: #9d9999;
    font-size: 32px;
    text-align: center;
    padding-top: 10px;
    margin: 10px;
}

.project-container {
    display: flex;
    flex: 1 1 48%;
    margin-bottom: 20px;
    box-sizing: border-box;
    justify-content: center;
    padding: 20px;
    max-width: 1500px;
    margin: 0 auto;
}

.project-card {
    width: 90%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-title {
    margin-top: 0;
}

.project-description {
    color: #666;
}

.project-buttons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-github {
    background: #000;
    color: #fff;
}

.btn-demo {
    background: #28a745;
    color: #fff;
}
.project-skills {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  
  .skill-icon {
    padding: revert;
    /* width: 24px; */
    /* height: 24px; */
    background: darkseagreen;
    margin-right: 5px;
    border: none;
    border-radius: 3px;
    color: #f9f9f9;
    font-size: 17px;
    padding: 7px;
    margin: 3px;
  }

/* Responsive design for smaller screens */
@media screen and (max-width: 768px) {
    .project-container {
        flex: 1 1 100%;
    }
}