.App {
  text-align: center;
  background: linear-gradient(to bottom, #CBD9C6, #4c4c67);;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Change header background */
.rcw-header {
  background-color: pink !important; /* Change to your desired color */
  color: #fff !important;
}

/* Launcher button background */
.rcw-launcher {
  background-color: pink !important;
}

/* User message bubble */
.rcw-message .rcw-client {
  background-color: whitesmoke !important;
  color: #000;
}

/* Bot message bubble */
.rcw-message .rcw-response {
  background-color: whitesmoke !important;
  color: #333;
}

/* Input area styling */
.rcw-new-message {
  background-color: #fff;
  border-top: 1px solid #ccc;
}
